<!DOCTYPE html>
<html lang="en" ng-app="spellSportApp">
<head>
  <meta charset="utf-8">
    <title>SpellSport</title>
    <script src="js/dictionary.js"></script>
    <script src="js/jasmine.js"></script>
    <script src="js/jasmine-html.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-mocks.js"></script>
    <script src="js/clj-fuzzy.js" ></script>

    <style>
        .good {
            color: green;
        }

        .bad {
            color: red;
        }

        .word_mastered {
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}
    </style>

    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/jasmine.css" />
</head>    
<body ng-controller="SpellingController">
    
    Name:    <input id="username" ng-model="current.user"     ng-keyup="selectUser()"  type="text" />
    Nicname: <input id="nickname" ng-model="current.nickname"   type="text" />
    Level:   <input id="level"    ng-model="current.level"      type="text" />

   
<table>
    <tr>
        <td style="vertical-align:top">
            <h1>SpellSport</h1>
                <img width="200"
                    ng-click="crocClicked()" 
                    src="img/Crocodile.jpg" />

            <h1 id="target" class="fadeOut animated">{{current.session.target}}</h1>
                    <div ng-bind-html="current.session.wordmasteredbanner"></div>
        
                    <div ng-bind-html="current.session.showguess"></div>

            <input id="entry" ng-keyup="checkSoFar($event)" 
                type="text" ng-enter="check()" ng-model="current.session.guess" />
            <button id="gobutton" ng-click="check()" >Try!</button>
            <button id="soundbutton" ng-click="sayGuess()" >Speak!</button>
            <button id="skipbutton" ng-click="next()" >Skip</button>

            <h2 id="winningstreak">Attempts: {{ current.session.attemptsOnCurrentWord }}</h2>
            <h2>Current Word Stats: {{ current.session.word.success }} successes.</h2>
            </td>
            <td width="70%" >

        <h2>Vocab size: {{current.stats.vocabularySize}}</h2>
        <h2>Mastered words: {{current.stats.masteredWords}}</h2>
                <ul ng-repeat="word in current.recentWords track by $index | orderBy:$id:true">
                    <li>{{word}}</li>
                </ul>
            </td>
        </tr>
    </table>

    <script>
    "use strict";

//(function() {         

/* TODO list

List of your hardest words.
Could pick the correct definition of the word.
Could highlight subwords.
Could highlight sounds (and alternative soundings).
Could award certificate 

could crossword? could battleships?

*/

    var wordList = ["kangaroo",
                    "tomato",
                    "flamingo",
                    "armadillo",
                    "echo",
                    "radio",
                    "cello",
                    "igloo",
                    "potato",
                    "risotto",
                    "mango",
                    "volcano",
                    "cuckoo",
                    "piano",
                    "banjo",
                    "tattoo" ];
        
    //var wordList = [ "Nessisary", "Success", "Urgent", "Excellent", "Dicipline", "Gigantic", "Generous" ];
 /*   var wordList = ['a','alone','ask','beg','build',
'able','along','assist','began','built',
'aboard','already','associate','begin','burn',
'about','also','association','beginning','business',
'above','although','assure','begun','busy',
'absence','always','at','behind','but',
'accept','am','athletic','believe','buy',
'accident','among','attempt','belong','by',
'according','amount','attend','beside','call',
'account','an','attention','best','came',
'across','and','August','better','camp',
'act','annual','aunt','between','can',
'action','another','auto','big','cannot',
'add','answer','automobile','bill','capture',
'addition','any','avenue','black','car',
'address','anything','await','block','card',
'adopt','anyway','away','blow','care',
'affair','appear','awful','blue','career',
'afraid','application','baby','board','carried',
'after','appoint','back','boat','carry',
'afternoon','appreciate','bad','body','case',
'again','April','ball','book','cast',
'against','are','band','born','catch',
'age','argument','be','both','cause',
'ago','army','bear','bought','celebration',
'agreement','around','beautiful','box','cent',
'air','arrange','became','boy','centre',
'alike','arrangement','because','bridge','century',
'all','arrest','become','bring','certain',
'allege','arrive','bed','broke','chain',
'allow','article','been','brother','change',
'almost','as','before','brought','character','',
'charge','convention','disappoint','end','feature',
'check','convict','discussion','engage','February',
'chief','copy','distinguish','engine','feel',
'child','cordially','distribute','enjoy','feet',
'children','cost','district','enough','fell',
'Christmas','could','divide','enter','felt',
'church','country','do','entertain','few',
'circular','course','doctor','entire','field',
'circumstance','court','does','entitle','fifth',
'cities','cover','dollar','entrance','fight',
'citizen','crowd','don’t','escape','figure',
'city','cut','done','especially','file',
'claim','dark','door','estate','fill',
'class','dash','doubt','estimate','final',
'clean','date','down','even','finally',
'clear','daughter','dozen','evening','find',
'clerk','day','dress','event','fine',
'close','dead','drill','ever','finish',
'clothing','deal','driven','every','fire',
'club','dear','drown','everything','firm',
'cold','death','due','evidence','first',
'collect','debate','during','examination','five',
'colonies','December','duty','except','fix',
'combination','decide','each','expect','flight',
'come','decision','earliest','expense','folks',
'comfort','declare','early','experience','follow',
'coming','deep','east','express','foot',
'command','degree','easy','extra','for',
'committee','delay','eat','extreme','foreign',
'common','department','education','eye','forenoon',
'company','desire','effect','face','forget',
'complaint','destroy','effort','fact','form',
'complete','develop','eight','factory','fortune',
'concern','diamond','either','fail','forty',
'condition','did','elaborate','fair','forward',
'conference','died','elect','fall','found',
'connection','difference','election','family','four',
'consider','different','else','famous','fourth',
'consideration','difficulty','emergency','far','free',
'contain','direct','empire','farther','Friday',
'contract','direction','employ','father','friend',
'convenient','director','enclose','favour','from',
'front','held','inspect','less','meet',
'full','help','instead','lesson','member',
'further','her','intend','let','men',
'game','here','interest','letter','mention',
'gave','herself','into','liberty','mere',
'general','high','investigate','life','might',
'gentleman','him','invitation','light','mile',
'get','himself','is','like','mind',
'getting','his','issue','line','mine',
'girl','history','it','list','minute',
'give','hold','its','little','Miss',
'glad','home','itself','live','miss',
'glass','honour','jail','local','Monday',
'go','hope','January','long','money',
'God','horse','judge','look','month',
'goes','hot','judgment','lose','more',
'gold','hour','July','loss','morning',
'gone','house','June','lost','most',
'good','how','just','lot','mother',
'got','however','justice','love','motion',
'government','human','keep','low','mountain',
'grand','hurt','kill','machine','move',
'grant','husband','kind','madam','Mr.',
'great','I','knew','made','Mrs.',
'ground','ice','know','mail','much',
'guess','if','known','majority','must',
'guest','illustrate','lady','make','my',
'had','immediate','lake','man','name',
'half','importance','land','manner','national',
'hand','important','large','many','navy',
'happen','impossible','last','March','near',
'happy','imprison','late','marriage','nearly',
'hard','improvement','law','material','necessary',
'has','in','lay','matter','need',
'hat','include','lead','may','neighbour',
'have','income','learn','May','neither',
'he','increase','least','maybe','never',
'head','indeed','leave','mayor','new',
'hear','inform','led','me','news',
'heard','information','ledge','mean','newspaper',
'heart','injure','left','meant','next',
'height','inside','length','measure','nice','',
'night','own','press','receive','saw',
'nine','page','pretty','recent','say',
'no','paid','price','recommend','says',
'none','pair','primary','recover','scene',
'noon','paper','principal','red','school',
'north','part','principle','refer','sea',
'not','particular','print','reference','search',
'nothing','party','prison','refuse','second',
'November','pass','private','regard','secretary',
'now','past','probably','region','section',
'number','pay','proceed','relative','subject',
'o’clock','people','progress','relief','secure',
'object','perfect','promise','remain','see',
'objection','perhaps','prompt','remember','seem',
'oblige','period','proper','repair','seen',
'obtain','personal','property','reply','select',
'occupy','picture','prove','report','senate',
'October','piece','provide','represent','send',
'of','place','provision','request','sent',
'off','plan','public','respectfully','separate',
'offer','plant','publication','responsible','September',
'office','play','publish','rest','serious',
'official','pleasant','purpose','restrain','serve',
'often','please','push','result','service',
'old','pleasure','put','retire','session',
'omit','point','question','return','set',
'on','police','quite','ride','seven',
'once','political','race','right','several',
'one','poor','railroad','ring','shall',
'only','popular','rain','river','she',
'open','population','raise','road','shed',
'opinion','position','ran','room','ship',
'or','possible','rapid','round','short',
'order','post','rate','royal','should',
'organisation','pound','rather','rule','show',
'organise','power','reach','run','shut',
'other','practical','read','running','sick',
'ought','prefer','ready','said','side',
'our','preliminary','real','sail','sight',
'out','prepare','really','salary','since',
'outside','present','reason','same','sincerely',
'over','president','receipt','Saturday','sir',
'sister','study','think','under','whether',
'sit','success','third','understand','which',
'six','such','this','unfortunate','while',
'size','sudden','those','unless','who',
'slide','suffer','though','until','whole',
'slower','suggest','thought','up','whom',
'small','suit','three','upon','whose',
'so','summer','through','us','why',
'soap','summon','throw','use','wife',
'soft','Sunday','Thursday','usual','will',
'sold','supply','thus','vacation','wind',
'some','support','ticket','various','winter',
'something','suppose','time','very','wire',
'sometimes','sure','tire','vessel','wish',
'son','surprise','to','victim','with',
'song','system','today','view','within',
'soon','table','together','visit','without',
'sorry','take','told','visitor','witness',
'south','talk','tomorrow','vote','women',
'speak','tax','tonight','volume','wonder',
'special','teach','too','wait','wonderful',
'spell','teacher','took','walk','word',
'spend','tell','top','want','work',
'spent','ten','total','war','world',
'spring','tenth','toward','warm','worth',
'stamp','term','town','was','would',
'stand','terrible','track','watch','wreck',
'start','testimony','train','water','write',
'state','than','travel','way','written',
'statement','thank','treasure','we','wrote',
'station','that','tree','wear','yard',
'stay','the','trip','weather','year',
'steamer','theater','trouble','Wednesday','yes',
'still','their','true','week','yesterday',
'stole','them','truly','weigh','yet',
'stone','themselves','trust','well','you',
'stood','then','try','went','young',
'stop','there','Tuesday','were','your',
'stopped','therefore','turn','west',
'story','these','two','what',
'street','they','unable','when',
'struck','thing','uncle','where'];
   */
    var keys = Object.keys(dictionary);
    
var spellSportApp = angular.module('spellSportApp', ['ngSanitize']);

spellSportApp.filter('reverse', function() {
  return function(items) {
    return items.slice().reverse();
  };
});

var SpellingController = spellSportApp.controller('SpellingController', function ($scope) {
    function createDefaultUser() {
      return {
        user: "Fred",
        nickname: "Nick",
        level: 1,
        allTimeWinningStreak: 0,

        stats: {
            vocabularySize: 0,
            masteredWords:0,
        },

        recentWords: [],

        words: {},

        session : {
            winningstreak : 0,
            wordsCorrect : 0,          
            wordsAttempted : 0,
            distance: 0,

            target:"",
            guess:"",
            showguess:"<p>BLANK GUESS</p>",
            attemptsOnCurrentWord : 0
        }
    };

    }
    
    $scope.current = createDefaultUser();

    $scope.current.user = localStorage["lastuser"];

    $scope.resetCurrent = function createDefaultUser() {
        console.log("Reset.");
        $scope.current.session.winningstreak = 0;
        $scope.current.session.guess = "";
    };

    $scope.selectUser = function() {
      if ($scope.current.user)
      {
          var user = $scope.current.user;
          var USER = user.toUpperCase();
          localStorage["lastuser"] = USER;
          console.log("loaded " + USER);
          var result = localStorage[USER];
          if (result)
          {
              $scope.current = JSON.parse(result);
          }
          else {
              $scope.current = createDefaultUser();
              $scope.current.user = user;
          }

          $scope.resetCurrent();
      }
    };

    $scope.selectUser();


    $scope.current.session.target = pickNextWord();
    var current = $scope.current;

    $scope.checkSoFar = function checkSoFar(event) {
        
        if (event && event.which == 13)
        {
            console.log("enter pressed");
            $scope.check();
            return;
        }
        var myGuess = $scope.current.session.guess;

        var colorLetters = $scope.current.session.attemptsOnCurrentWord !== 0;
        
        var buffer = "";

        for (var i = 0; i < myGuess.length; i++)
        {
            var clazz;
            if (!colorLetters)
            {
                clazz = "";
            }
            else if (myGuess[i] === $scope.current.session.target[i])
            {
                clazz = "good";
            }
            else
            {
                clazz = "bad";
            }
            buffer = buffer + "<span class='"+ clazz +"'>" + myGuess[i] + "</span>";                
        }
        $scope.current.session.showguess = buffer;
    };  

    $scope.recalcStats = function() {
        $scope.current.stats.vocabularySize = Object.keys($scope.current.words).length;

        var masteredWords = 0;
        var keys = Object.keys($scope.current.words);
        for (var i = 0; i < keys.length; i++)
        {
            var word = $scope.current.words[keys[i]];
            if (word.success > word.failCount) {
                masteredWords++;
            }
        }

        if (masteredWords > $scope.current.stats.masteredWords)
        {
            //new mastered word!
            $scope.current.session.wordmasteredbanner= "<h2 class='word_mastered'>New Word Mastered: " + $scope.current.session.target + "</h2>"
        
        }
        else {
            $scope.current.session.wordmasteredbanner= "";  
        }

        //sum of words where first time correct > wrong times.
        $scope.current.stats.masteredWords = masteredWords;

        localStorage[$scope.current.user.toUpperCase()] = JSON.stringify($scope.current);
    };


    $scope.check = function check() {
        if (document.getElementById("gobutton").innerText === "Next")
        {
            $scope.next();
            return;  
        }

        var guess = $scope.current.session.guess;
        var target = $scope.current.session.target;
        if (guess.toUpperCase() === target.toUpperCase())
        {
           
           var description;
            for (var k = 0; k < keys.length; k++)
            {
                if (keys[k].toUpperCase() === guess.toUpperCase())
                {
                    description = dictionary[keys[k]];
                }
            }

            var stem = clj_fuzzy.stemmers.lovins(target);
            if (!(stem === target) )
            {
                description = "<b>" + stem + "</b> stem of  " +  target + ": " + description;
            }

            var wordStats = $scope.current.words[target];
            if (typeof wordStats === "undefined")
            {
                wordStats = {                  
                      success: 0,
                      failCount: 0,
                      fails: {} 
                }
                wordStats.word = target;
                $scope.current.words[target] = wordStats;
            }

            if ($scope.current.session.attemptsOnCurrentWord === 0)
            {
                wordStats.success = wordStats.success + 1;
            }
            $scope.current.session.wordsAttempted = $scope.current.session.wordsAttempted + 1;

            if ($scope.current.session.attemptsOnCurrentWord === 0)
            {
                $scope.current.session.wordsCorrect = $scope.current.session.wordsCorrect + 1
            }

            $scope.current.session.winningstreak = $scope.current.session.winningstreak + 1

            if ($scope.current.session.wordsCorrect > 5 && $scope.current.session.wordsAttempted === 10)
            {
                window.open('svg/Level1.svg', 'show')
                $scope.current.level = $scope.current.level + 1;
                $scope.next();
            }
            else if ($scope.current.session.wordsCorrect > 10 && $scope.current.session.wordsAttempted === 20)
            {
                window.open('svg/Level2.svg', 'show')
                $scope.current.level = $scope.current.level + 1;
                $scope.next();
            }
            else if ($scope.current.session.wordsCorrect > 15 && $scope.current.session.wordsAttempted === 30)
            {
                window.open('svg/Level3.svg', 'show')
                $scope.current.level = $scope.current.level + 1;
                $scope.next();
            }
            
            document.getElementById("entry").style.backgroundColor = "green";
            document.getElementById("gobutton").innerText = "Next";
            //var description = dictionary[target];
            if (typeof description === "undefined")
            {
                description = "Well done!";
            }
            $scope.current.session.showguess = description;
            $scope.recalcStats();
        }
        else
        {
            var wordStats = $scope.current.words[target];
            if (typeof wordStats === "undefined")
            {
                wordStats = {                  
                     success: 0,
                     failCount: 0,
                     fails: {} 
                }
                wordStats.word = target;
                $scope.current.words[target] = wordStats;
            }
            
            
            if (!wordStats.fails.hasOwnProperty(guess))
            {
                wordStats.fails[guess] = 0;
            }
            wordStats.failCount = wordStats.failCount + 1;
            wordStats.fails[guess] = wordStats.fails[guess] + 1;




            var extrahint =""
            var dist = clj_fuzzy.metrics.jaccard(guess, target);
            if ($scope.current.session.attemptsOnCurrentWord > 0 && dist < $scope.current.session.distance)
            {
                extrahint = "Getting hotter :-)";
            }
            else if ($scope.current.session.attemptsOnCurrentWord > 0) {
                extrahint = "Getting colder..."
            }
            else{            
                $scope.current.session.distance = dist;
            }

            $scope.current.session.attemptsOnCurrentWord = $scope.current.session.attemptsOnCurrentWord + 1;
            $scope.current.session.winningstreak = 0;
            var hint = "";
            $scope.checkSoFar();
            /*for (var i = 0; i < target.length; i++)
            {
                if (i < guess.length && target[i].toUpperCase() === guess[i].toUpperCase())
                {
                    hint = hint + target[i] ;
                }
                else {
                    hint = hint + "_";
                }
            }

            var j = guess.length - 1;
            for (var i = target.level -1 ; i >= 0; i--)
            {
                if (target[i].toUpperCase() === guess[j].toUpperCase())
                {
                    j = j - 1;
                }
                else {
                    break;
                }
            }*/

            //Help
            if ($scope.current.session.attemptsOnCurrentWord > 1)
            {
                $scope.flashTarget();
            }
            $scope.say($scope.current.session.guess + ", target word is: " + $scope.current.session.target);
            
            var fuzz = clj_fuzzy.metrics.mra_comparison(target,guess);
            if(!fuzz || !fuzz.match)
            {
               hint = hint + " (listen to the word again carefully - you've not quite got the right sounds.')";   
            }
            else {
               hint = hint + " (it sounds about right)";
            }

            $scope.current.session.showguess = $scope.current.session.showguess + hint + extrahint;
        }
    };

    $scope.crocClicked = function crocClicked() {
        $scope.sayTarget();

        if ($scope.current.session.attemptsOnCurrentWord > 4)
        {
            $scope.flashTarget();
        }
        document.getElementById('entry').focus();
    };

    $scope.say = function say(message) {
        var utter = new SpeechSynthesisUtterance(message); 
        utter.lang = 'en-UK'; 
        utter.rate = 1;

        var voices = window.speechSynthesis.getVoices();
        if (voices.length > 0)
        {        
            //utter.voice = voices[Math.floor((Math.random() * voices.length))]
            utter.voice = voices.filter(function(voice) { return voice.name == 'Google UK English Male'; })[0];
        }

        window.speechSynthesis.speak(utter);
    }

    $scope.sayTarget = function sayTarget() {
        var utter = new SpeechSynthesisUtterance($scope.current.session.target); 
        utter.lang = 'en-UK'; 
        utter.rate = 1;

        var voices = window.speechSynthesis.getVoices();
        if (voices.length > 0)
        {        
            utter.voice = voices[Math.floor((Math.random() * voices.length))]
            //utter.voice = voices.filter(function(voice) { return voice.name == 'Google UK English Male'; })[0];
        }
     //   debugger;  

        window.speechSynthesis.speak(utter);
        document.getElementById('entry').focus();
    };

    $scope.sayGuess = function sayGuess() {
        var utter = new SpeechSynthesisUtterance($scope.current.session.guess); 
        utter.lang = 'en-UK'; 
        utter.rate = 1;
        window.speechSynthesis.speak(utter);
        document.getElementById('entry').focus();
    };


    $scope.flashTarget = function flashTarget() {
        if (document.getElementById("target").className === "fadeOut animated")
        {
            document.getElementById("target").className = "fadeOutRight animated";
        }
        else
        {
            document.getElementById("target").className = "fadeOut animated";            
        }
    };

    $scope.next = function next() {



        //Reset
        $scope.current.session.attemptsOnCurrentWord = 0;
        document.getElementById("gobutton").innerText = "Try!";
        $scope.current.session.guess = ""; 
        document.getElementById("entry").style.backgroundColor = "white";
        $scope.current.session.showguess = "";
        var target = pickNextWord();
        $scope.current.session.target = target;

        var wordStats = $scope.current.words[target];
        if (typeof wordStats === "undefined")
        {
            wordStats = {                  
                 success: 0,
                 failCount: 0,
                 fails: {} 
            }
            wordStats.word = target;
            $scope.current.words[target] = wordStats;

        }

        console.log(wordStats);
        $scope.current.session.word = wordStats;
        $scope.sayTarget();
    };


    function pickNextWord()
    {
        $scope.current.recentWords.push($scope.current.session.target);
        if ($scope.current.recentWords.length > 10)
        {
            $scope.current.recentWords.shift();
        }

        var level = $scope.current.level;

        if (!$scope.current.recentWords) {
            $scope.current.recentWords = [];
        }

        var target;
        do {
        //  target = keys[ keys.length * Math.random() << 0];
            target = wordList[Math.floor((Math.random() * wordList.length))];
        } while ($scope.current.recentWords.indexOf(target) != -1)

        

        return target;
    }
});

var SpellingController = spellSportApp.controller('WordListCtrl', function ($scope) {
    $scope.words = [ { word:"Hate", fails:2 }, { word:"Fell", fails:5 }];
});

/**
Requirements.

Don't show the word your trying to spell.

Don't repeat words that they got right.

Use different voices to give people different angles on pronunciation.



*/

describe('SpellingController Tests', function() {
  beforeEach(module('spellSportApp'));

  describe('SpellingController', function(){
    var scope, ctrl, $httpBackend;

    beforeEach(inject(function($rootScope, $controller) {
      scope = $rootScope.$new();
      ctrl = $controller('SpellingController', {$scope: scope});
    }));

    it('should create "current" model with 0 winningstreak', inject(function($controller) {
     var scope = {};
     var ctrl = $controller('SpellingController', {$scope:scope});
  
     expect(scope.current.session.guess).toBe("");
  }));

});

});


(function() {
  var jasmineEnv = jasmine.getEnv();
  jasmineEnv.updateInterval = 250;

    var htmlReporter = new jasmine.HtmlReporter();
  jasmineEnv.addReporter(htmlReporter);

    jasmineEnv.specFilter = function(spec) {
    return htmlReporter.specFilter(spec);
  };

    var currentWindowOnload = window.onload;
  window.onload = function() {
    if (currentWindowOnload) {
      currentWindowOnload();
    }

    document.querySelector('.version').innerHTML = jasmineEnv.versionString();
    execJasmine();
  };

  function execJasmine() {
    jasmineEnv.execute();
  }
})();


    </script>
    <span class="version"></span>
    <script>
  (document.querySelector(".version") || {}).innerHTML = (typeof jasmine !== "undefined") ? jasmine.version : "";
</script>
    </body>
</html>